.project__top-content{
    text-align: center;
    margin-top: 3.571vw;
}
.project__top-content h2{
    padding-bottom:1.429vw;
}
.project__item{
    width: 30%;
    padding: 2.143vw 1.786vw;
    background:var(--card-bg);
    border-radius: 0.4 rem;
    
}
.project__item h3{
    color: whitesmoke;
    font-weight: 400;
    font-size:1.5rem ; 
    margin-bottom:20px ;
}
.project__img{
    margin-bottom: 30px;
}
.project__img img{
    width: 100%;
}
.project__desc{
    font-size: 1.1rem;
    margin-bottom: 10px;
}
.learn__more i{
    font-size: 1.5rem;
    color:var(--primary-color);
    cursor:pointer;
}
.project__wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.light-theme .project__item h3{
    color: blueviolet;
}
/* .project__item:nth-child(2) .project__img{
    margin-top: 0px;
    margin-bottom: -10px;
}
.project__item:nth-child(2){
    width: 33%;
    margin-top: 0px;
} */
.light-theme .projects{
    background:#effcff;
}
.light-theme .project__item{
    box-shadow:5px 5px 15px -5px;
}
@media only screen and (max-width: 992px){
    .project__top-content h2{
        font-size: 1.5rem;
    }
}
@media only screen and (max-width: 768px){
    .project__item{
        width: 45%;
        margin-bottom: 20px ;
    }
    /* .project__item:nth-child(2){
        width: 50%;
    } */
    .project__wrapper{
        flex-wrap: wrap;
    }
}
@media only screen and (max-width: 576px){
    .project__item{
        width: 100%;
    }
    /* .project__item:nth-child(2){
        margin-top: 0;
    } */
}